# Default ignored files
/shelf/
/workspace.xml
/../.idea
# Datasource local storage ignored files
/../../../../../../:\A_AI.实验室\YeJunchen\PeMS数据集\PEMS_data_acquisition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

